button{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(7, 157, 7);
  color:whitesmoke;
}
button+button{
  background-color: red;
}
.container{
  margin: 10px;
  margin-top: 300px;
}
